{% extends 'navbar.html' %}

{% block content%}
	{% parent %}

<div class="main-container center container valign-wrapper" id="register">
	<h1 class="text-center">LOGIN</h1>
	<BR>
	<bR>
	<div class="box center valign-wrapper">
		<form class="row" action="/admin/login" method="post">
			{% if error.length>0 %}
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{error[0]}}
						</div>
					</div>
				</div>
				{% endif %}
			<div class ="container loginBox">
				<div class="col-sm-12  col-xs-12 form-group center">
					<label for="email">Email</label>
					<input name="username" id="email" type="email" required class="validate form-control">
				</div>
				<div class="col-sm-12 col-xs-12 form-group center">
					<label for="password">Password</label>
					<input name="password" id="password" type="password" class="validate form-control" required >
				</div>
				<div class="col s12 form-group center">
					<button class="btn btn-default center" type="submit" name="action">Login
	    			<i class="material-icons right">send</i>
	  				</button>
				</div>
			</div>

		</form>
	</div>
</div>

{% endblock %}