<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for the KnowBasket -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="description" content="The KnowBasket is a place where tutors and learners meet, interact and share their knowledge. It provides a platform to enhance one's skillset in a very easy yet effective manner.">
        <meta name="keywords" content="education, skill, training, examination, professional development, religion, music, art, literature, science, tutors, mathematics, computers, teacher, learner">
        <meta name="author" content="Yuvraj Jaiswal ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
        {% block userCSS %}{% endblock %}
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      	    rel="stylesheet">
        <title>Welcome</title>
    </head>
    <body>
    	
        {% block content%} {% endblock%}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
    </body>
</html> 