<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for QBIT -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="description" content="TheKnow is a place where tutors and learners meet, interact and share their knowledge. It provides a platform to enhance one's skillset in a very easy yet effective manner.">
        <meta name="keywords" content="education, skill, training, music, art, literature, science, tutors, mathematics, computers, teacher, learner">
        <meta name="author" content="Yuvraj Jaiswal ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="/css/home.css" media="screen">
        {% block userCSS %}{% endblock %}
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      	    rel="stylesheet">
        <title>Welcome</title>
    </head>
    <body>
    	<header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">QBIT</a>
                    </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li {% block userClass%} {% endblock%}><a href="/user/home">Home</a></li>
                            {% block customNavbar%} {% endblock%}
                            <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.firstName }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/user/editProfile">Profile</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/user/logout">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        {% block content%} {% endblock%}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    {% block customJS %} {% endblock %}
    </body>
</html>